<div class="top-nav">
    <div class="top-nav-inner">
        <a href="{{ "/" | relLangURL }}" class="top-nav-logo">
            <img src="{{ absURL $.Site.Params.images.logoExpandLight }}" alt="{{ .Site.Title }}">
        </a>
        <ul class="top-nav-menu">
        {{ range .Site.Data.headers }}
            {{ $link := .link }}
            {{ $isActive := or (eq $.RelPermalink $link) (and (ne $link "/") (hasPrefix $.RelPermalink (printf "%s/" $link))) }}
            {{ $liClass := "" }}
            {{ if $isActive }}{{ $liClass = "active" }}{{ end }}
            {{ if .list }}{{ if $liClass }}{{ $liClass = printf "%s menu-item-has-children" $liClass }}{{ else }}{{ $liClass = "menu-item-has-children" }}{{ end }}{{ end }}
            <li{{ if $liClass }} class="{{ $liClass }}"{{ end }}>
                <a href="{{ .link }}">
                    <i class="{{ .icon }} fa-lg mr-2"></i>
                    <span>{{ .item }}</span>
                    {{ if .new }}<small class="badge badge-danger ml-1" style="font-size:10px;vertical-align:super;padding:1px 5px">New</small>{{ end }}
                    {{ if .hot }}<small class="badge badge-danger top-nav-hot ml-1">HOT</small>{{ end }}
                </a>
                {{ if .list }}
                <ul class="sub-menu">
                {{ range .list }}
                    <li><a href="{{ .url }}">{{ .name }}</a></li>
                {{ end }}
                </ul>
                {{ end }}
            </li>
        {{ end }}
        </ul>
        <div class="top-nav-right">
            <a href="/upload" class="submit-link mr-3">
                <i class="fas fa-rocket mr-1"></i>免费入驻
                <small class="badge badge-danger ml-1" style="font-size:10px;vertical-align:super;padding:1px 5px">New</small>
            </a>
            <button class="top-nav-toggle" id="sidebar-switch" data-toggle="modal" data-target="#sidebar">
                <i class="iconfont icon-classification icon-2x"></i>
            </button>
            <div class="user-menu mr-3" id="user-menu">
                <a href="/user/login/" class="mr-3">登录</a>
                <a href="/user/register/">注册</a>
            </div>
        </div>
    </div>
</div>
