<div class="top-nav">
    <div class="top-nav-inner">
        <a href="{{ "/" | relLangURL }}" class="top-nav-logo">
            <img src="{{ absURL $.Site.Params.images.logoExpandLight }}" height="36" alt="{{ .Site.Title }}">
        </a>
        <ul class="top-nav-menu">
        {{ range .Site.Data.headers }}
            <li{{ if .list }} class="menu-item-has-children"{{ end }}>
                <a href="{{ .link }}">
                    <i class="{{ .icon }} fa-lg mr-2"></i>
                    <span>{{ .item }}</span>
                    {{ if .new }}<small class="badge badge-danger ml-1" style="font-size:10px;vertical-align:super;padding:1px 5px">New</small>{{ end }}
                </a>
                {{ if .list }}
                <ul class="sub-menu">
                {{ range .list }}
                    <li><a href="{{ .url }}">{{ .name }}</a></li>
                {{ end }}
                </ul>
                {{ end }}
            </li>
        {{ end }}
        </ul>
        <div class="top-nav-right">
            <a href="/upload" class="submit-link mr-3">
                <i class="fas fa-rocket mr-1"></i>免费入驻
                <small class="badge badge-danger ml-1" style="font-size:10px;vertical-align:super;padding:1px 5px">New</small>
            </a>
            <button class="top-nav-toggle" id="sidebar-switch" data-toggle="modal" data-target="#sidebar">
                <i class="iconfont icon-classification icon-2x"></i>
            </button>
            <div class="user-menu mr-3" id="user-menu">
                <a href="#" class="mr-3" data-toggle="modal" data-target="#authModal">登录</a>
                <a href="#" data-toggle="modal" data-target="#authModal">注册</a>
            </div>
        </div>
    </div>
</div>
