{{ partial "header.html" . }}
{{ partial "top_nav.html" . }}

{{ partial "marquee_ad.html" . }}

<div class="page-container">
<div class="left-sidebar">{{ partial "sidebar.html" . }}</div>
{{ partial "content_header.html" . }}

<link rel="stylesheet" href="/assets/css/blog-style.css" type="text/css" media="all" />

<div class="three-col-layout">
    <div class="content-col content-col--framed">
        <div id="page-content" class="content-site customize-site">
            <div class="content_detail">
                <h1 class="mb-4">博客文章</h1>
                {{ range .Site.Data.blog }}
                    {{ if .list }}
                        {{ range .list }}
                            <div class="d-flex flex-fill">
                                <h4 class="text-gray text-lg mb-4">
                                    <i class="site-tag iconfont icon-tag icon-lg mr-1" id="{{ printf "%s" (md5 .term) }}"></i>
                                    {{ .term }}
                                </h4>
                            </div>
                            <div class="blog-link-list">
                                {{ range .links }}
                                <a href="{{ .url }}" class="blog-link-item" target="_blank">
                                    <div class="blog-link-left">
                                        <div class="blog-link-title">{{ .title }}</div>
                                        <div class="blog-link-desc">{{ .description | truncate 150 }}{{ if gt (len .description) 150 }}...{{ end }}</div>
                                        <div class="blog-link-meta">
                                            <span class="author">官方原创</span>
                                            <span class="tags"></span>
                                        </div>
                                    </div>
                                    {{ if .cover }}
                                    <img src="{{ .cover }}" class="blog-link-img" alt="{{ .title }}">
                                    {{ end }}
                                </a>
                                {{ end }}
                            </div>
                            <br />
                        {{ end }}
                    {{ else if .links }}
                        <div class="d-flex flex-fill">
                            <h4 class="text-gray text-lg mb-4">
                                <i class="site-tag iconfont icon-tag icon-lg mr-1" id="{{ printf "%s" (md5 .taxonomy) }}"></i>
                                {{ .taxonomy }}
                            </h4>
                        </div>
                        <div class="blog-link-list">
                            {{ range .links }}
                            <a href="{{ .url }}" class="blog-link-item" target="_blank">
                                <div class="blog-link-left">
                                    <div class="blog-link-title">{{ .title }}</div>
                                    <div class="blog-link-desc">{{ .description | truncate 150 }}{{ if gt (len .description) 150 }}...{{ end }}</div>
                                    <div class="blog-link-meta">
                                        <span class="author">官方原创</span>
                                        <span class="tags"></span>
                                    </div>
                                </div>
                                {{ if .cover }}
                                <img src="{{ .cover }}" class="blog-link-img" alt="{{ .title }}">
                                {{ end }}
                            </a>
                            {{ end }}
                        </div>
                        <br />
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
    <div class="right-sidebar">
        {{ partial "content_right_sidebar_unified.html" . }}
    </div>
</div>

{{ partial "content_footer.html" . }}
{{ partial "modal_search.html" . }}
{{ partial "footer.html" . }}
