{{ partial "header.html" . }}
{{ partial "top_nav.html" . }}

<div class="page-container">
{{ partial "content_header.html" . }}

<div class="three-col-layout">
    <div class="content-col">
        <div id="page-content" class="content-site customize-site">
            <div class="content_detail">
                <article class="detail-card">
                    <div class="content-body">
                        <h1 class="mb-3">个人中心</h1>
                        {{ .Content }}
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

{{ partial "content_footer.html" . }}
{{ partial "modal_search.html" . }}
{{ partial "footer.html" . }}
